<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creació d'anunci</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='css/Logo.png') }}" alt="Your Image">
        </div>
        <div class="form-container">
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Nom de l'article:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="contacte">Contacte:</label>
                    <input type="text" id="contacte" name="contacte">
                </div>
                <div class="form-group full-width">
                    <label>Matèries:</label><br>
                    {% for subject in subjects %}
                        <label for="{{ subject }}">{{ subject }}</label>
                        <input type="checkbox" class="checkbox-round" id="{{ subject }}" name="subject_check" value="{{ subject }}"><br>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="size">Mida:</label>
                    <input type="text" id="size" name="size">
                </div>
                <div class="form-group">
                    <label for="price">Preu:</label>
                    <input type="number" id="price" name="price" min="0" required>
                </div>
                <div class="form-group full-width">
                    <label for="file">Fitxer:</label>
                    <input type="file" id="file" name="file">
                </div>
                <div class="form-group full-width">
                    <label for="description">Descripció:</label>
                    <textarea id="description" name="description" rows="4" cols="50"></textarea>
                </div>
                <div class="form-group full-width">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
