<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header con Logo, Correo Electrónico y Buscador</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <script>// header.js

        document.addEventListener("DOMContentLoaded", function() {
            const searchBtn = document.querySelector(".search-btn");
            const searchContainer = document.querySelector(".search-container");
        
            searchBtn.addEventListener("click", function() {
                searchContainer.classList.toggle("active");
            });
        });

        // header.js

        document.addEventListener('DOMContentLoaded', function() {
            const userInfo = document.querySelector('.user-info');
            const dropdownContent = document.querySelector('.dropdown-content');
        
            userInfo.addEventListener('click', function(event) {
                dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
                event.stopPropagation();
            });
        
            document.addEventListener('click', function() {
                dropdownContent.style.display = 'none';
            });
        });
        
        </script>
</head>
<body>
    <header class="header">
        <a href="main.html" class="logo">
            <img src="../static/css/Logo.png" alt="Logo de la Página">
        </a>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Buscar...">
            <button class="search-btn">
                <img src="../static/css/lupa.png" alt="Buscar">
            </button>
        </div>
        <div class="user-info">
            <span class="email">Yeni Lorenzo</span>
            <div class="dropdown-content">
                <button class="logout-btn">Cerrar sesión</button>
            </div>
        </div>
    </header>
</body>
</html>
