<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="image-container">
        <img src="../static/css/Logo.png" alt="Your Image">
    </div>
    <div class="container">
        <div class="form-container">
            <h2>Registrar-se</h2>
            <form method="POST">
                <input id="cfgm" name="grade" type="radio" value="CFGM" required>
                <label for="grade">CFGM</label>
                <input id="cfgs" name="grade" type="radio" value="CFGS" required>
                <label for="grade">CFGS</label>
                <input id="username" name="username" type="text" placeholder="Correu Electrònic" required>
                <input id="password" name="password" type="password" placeholder="Contrasenya" required>
                <input id="password2" name="password2" type="password" placeholder="Confirma la contrasenya" required>
                <button type="submit">Registrar-se</button>
            </form>
        </div>
        <div class="overlay-container">
            <h1>Hola!</h1>
            <p>Ingresa les dades personals requerides i accedeix a WallaCabanyes</p>
            <a href="{{ url_for('auth.login') }}">
                <button>Iniciar Sessió</button>
            </a>
        </div>
    </div>

</body>
</html>
